{% extends "base.html" %}

{% block content %}
    {% if error %}
        {{ error }}
        <br/>
        <br/>
    {% endif %}

    <h1>Login</h1>
    <form method="POST" action="{% url "login" %}">
        {% csrf_token %}
        Username:
        <br/>
        <label>
            <input type="text" name="username"/>
        </label>
        <br/>
        <br/>
        Password:
        <br/>
        <label>
            <input type="password" name="password"/>
        </label>
        <br/>
        <br/>
        <br/>
        <input class="btn btn-primary" type="submit" value="Login"/>
    </form>
    <br />
    <br />
    <a href={% url "signup" %}>Don't have an account? Sign up here</a>
{% endblock %}